# Node
node_modules/
npm-debug.log
yarn-error.log

# IDE
.idea/
.vscode/

# Next.js
.next/
out/

# Production
build/
dist/

# Environment
.env.local
.env.*.local

# Docs
*.md
README.md

# Git
.git/
.gitignore

# Testing
coverage/
.nyc_output/

# Misc
.DS_Store
*.log
